---
layout: default
---
<div class="container">
  <div class="row">

    <div class="col-lg-2 visible-lg">
      <div style="margin: 2em;">
        <div class="black_frame">
          <ul class="nav nav-pills nav-stacked sidenav" >
            <li><a href="#MER">恩愛夫婦營</a></li>
            <li><a href="#MER2">夫婦進深營</a></li>
            <li><a href="#MERForm">報名表</a></li>
          </ul>
        </div>

      </div>  
    </div>

    <div class="col-lg-8 col-xs-12">
      <div class="white_frame" style="margin: 2em">
        <div style="margin: 2em">
          <!-- <div data-spy="scroll" data-offset="0" class="scrollspy"
               data-target=".sidenav"> -->
    {{ content }}
    <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="col-lg-2 visible-lg">
      <div style="margin: 2em;">
        <div class="black_frame"><img src="20130810.gif" class="img-responsive"></div>
      </div>  
    </div>
  </div>
</div>
