---
layout: default
---
<div class="container">
  <div class="row">

            {% if page.submenu %}
    <div class="col-lg-2 visible-lg">
      <div style="margin: 2em;">
        <div class="black_frame">
          <ul class="nav nav-pills nav-stacked sidenav" >
            {% for item in page.submenu %}
            <li><a href="#{{ item.hook }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>  
    </div>
    {% else %}
    <div class="col-lg-2">
    </div>

            {% endif %}

    <div class="col-lg-8 col-xs-12">
      <div class="white_frame" style="margin: 2em">
        <div style="margin: 2em">
          <!-- <div data-spy="scroll" data-offset="0" class="scrollspy"
               data-target=".sidenav"> -->
          {{ content }}
          <!-- </div> -->
        </div>
      </div>
    </div>

   <!-- 
    <div class="col-lg-2 visible-lg">
      <div style="margin: 2em;">
        {% if page.submenu-right %}
        <div class="black_frame">
          {{ page.submenu-right }}
        </div>
        {% endif %}

      </div>  
    </div>
-->
  </div>
</div>
