<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/mffc.css" rel="stylesheet">
</head>
<body>

<div class="row logo_row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-3 warning">
    <a href="/">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-3 logo"></div><div class="col-sm-8 col-xs-7 col-md-6 text-center white_frame"><h1> 澳洲家庭更新協會</h1><h4><i>致力婚姻得更新，融洽家庭証主恩</i><h4></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% include headernav %}

<div class="container">
  <div class="row">

    <div class="col-lg-2 visible-lg">
      <div style="margin: 2em;">
        <div class="black_frame">
          <ul class="nav nav-pills nav-stacked sidenav" >
            <li><a href="#MER">恩愛夫婦營</a></li>
            <li><a href="#MER2">夫婦進深營</a></li>
            <li><a href="#MERForm">報名表</a></li>
          </ul>
        </div>

      </div>  
    </div>

    <div class="col-lg-8 col-xs-12">
      <div class="white_frame" style="margin: 2em">
        <div style="margin: 2em">
          <div data-spy="scroll" data-offset="0" class="scrollspy" data-target=".sidenav">
    {{ content }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 visible-lg">
      <div style="margin: 2em;">
        <div class="black_frame"><img src="20130810.gif" class="img-responsive"></img></div>
      </div>  
    </div>

  </div>
</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    </body>
    </html>
